[user]
	name = Dominic Bartl
	email = dominic.bartl.at@gmail.com
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  #hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  hist = log --pretty=format:\"%Cgreen%h%Creset %Cred%ad%Creset %s%C(cyan)%d%Creset %C(magenta)%an%Creset\" --graph --date=short  
  type = cat-file -t
  dump = cat-file -p
[push]
	default = simple
[diff]
	external = git_diff_wrapper
[pager]
	diff =
[core]
	editor = vim
